@{
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
}

@* Lấy dữ liệu từ ViewData *@
<div class="col-3">
    <div class="card">
        <div class="card-body">
            <h6 class="fw-bold mb-3">ADMIN DASHBOARD</h6>

            <div class="list-group">
                <a href="/Admin/Statistics" class="list-group-item list-group-item-action
                    @(currentController == "Admin" && currentAction == "Statistics" ? "active" : "")">
                    Thống kê
                </a>

                <a href="/Admin/Courses" class="list-group-item list-group-item-action
                    @(currentController == "Admin" && currentAction == "Courses" ? "active" : "")">
                    Quản lý khoá học
                </a>

                <a href="/Admin/Banners" class="list-group-item list-group-item-action
                    @(currentController == "Admin" && currentAction == "Banners" ? "active" : "")">
                    Banners
                </a>

                <a href="/Admin/" class="list-group-item list-group-item-action
                    @(currentController == "Admin" && currentAction == "" ? "active" : "")">
                    
                </a>
            </div>
        </div>
    </div>
</div>
