@{
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
}

@* Lấy dữ liệu từ ViewData *@
<div class="col-3">
    <div class="card">
        <div class="card-body">
            <h6 class="fw-bold mb-3">INSTRUCTOR DASHBOARD</h6>

            <div class="list-group">
                <a href="/Instructor/Statistics" class="list-group-item list-group-item-action
                    @(currentController == "Instructor" && currentAction == "Statistics" ? "active" : "")">
                    Thống kê
                </a>

                <a href="/Instructor/Courses" class="list-group-item list-group-item-action
                    @(currentController == "Instructor" && currentAction == "Courses" ? "active" : "")">
                    Khoá học giảng dạy
                </a>

                <a href="/Instructor/Orders" class="list-group-item list-group-item-action
                    @(currentController == "Instructor" && currentAction == "Orders" ? "active" : "")">
                    Đơn hàng
                </a>
            </div>
        </div>
    </div>
</div>
