@{
    ViewData["Title"] = "Giỏ hàng";
}

<link rel="stylesheet" href="~/css/cart.css" asp-append-version="true" />

<div class="row p-3">

    <!-- LEFT -->
    <div class="col-9">
        <div class="card">

            <div class="card-header bg-primary text-white fw-bold">
                <div class="row">
                    <div class="col-7">Khóa học</div>
                    <div class="col-3">Giá</div>
                    <div class="col-2 text-end">Tuỳ chọn</div>
                </div>
            </div>

            <ul class="list-group list-group-flush" id="cart-page-list">
                <!-- JS sẽ render -->
            </ul>

        </div>
    </div>

    <!-- RIGHT -->
    <div class="col-3">
        <div class="card">
            <div class="card-header bg-white fw-bold">Thanh toán</div>

            <div class="card-body">

                <div id="summary-list"></div>

                <hr>

                <div class="d-flex justify-content-between fw-bold fs-5">
                    <span>Tổng giá</span>
                    <span id="summary-total">0đ</span>
                </div>

                <a href="/Home/Checkout" class="btn btn-primary w-100 mt-3">
                    THANH TOÁN
                </a>

            </div>
        </div>
    </div>

</div>

<script type="module" src="/js/modules/student/cart.page.js"></script>
