<!-- CONTENT -->
<div class="text-center py-5" style="font-size:large">
    <h1 class="display-5 fw-normal mb-4">Thanh toán thành công</h1>

    <a href="#" class="btn btn-primary px-4">
        XEM CÁC KHÓA HỌC ĐÃ ĐĂNG KÝ
    </a>
</div>